
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Post Name</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		

		<ul id="navigation">
			<li><a href="{% url 'home' %}">Home Page</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'image/chatbot2/homepage.png' %}">
		</div>
		
		<h3>CHATBOT SYSTEM FOR COLLEGE</h3>
		<p>
			We Started building this project in October 2017 <br>
			we built this project for the purpose that parent can ask the question releted<br> 
			to college it can be ask question likes
			what is timing of college.<br>
			what is exam time
			is there bus facility is available<br>
			Question paper solving question

			It is save time of parent who travel a long distance <br>
		</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- HTML</li>
			<li>- CSS</li>
			<li>- JAVASCRIPT</li>
			<li>- XAMPP SERVER</li>
			<li>- GOOGLE SPREEDSHEET</li>
			<li>- PHP</li>
			
		</ul>


		<h5>Admin Login</h5>
		<div class="img-container">
			<img src="{% static 'image/chatbot2/admin.png' %}">
		</div>

		<h6>Faculty Login</h5>
		<div class="img-container">
			<img src="{% static 'image/chatbot2/faculty.png' %}">
		</div>

		<h6>Student</h5>
		<div class="img-container">
			<img src="{% static 'image/chatbot2/student.png' %}">
		</div>

		<h6>Chatbot</h5>
		<div class="img-container">
			<img src="{% static 'image/chatbot2/chatbot.png' %}">
		</div>

		<h6>Visitor</h5>
		<div class="img-container">
			<img src="{% static 'image/chatbot2/visitor.png' %}">
		</div>

		

	</div>

</body>
</html>