{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Portfolio website complete</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Salman Shaikh</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Salman Shaikh</span><br> Web
                    Developer and <br> Data Scientist</h1>

                <a href="#contact" class="button">Contact</a>
            </div>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/salman-shaikh-499307150/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/salmansss" class="home__social-icon"><i class='bx bxl-github'></i></a>
            </div>

            <div class="home__img">
                <img src="{% static 'image/prefil2.jpg' %}" alt="">
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="{% static 'image/about1.jpg' %}" alt="">

                </div>

                <div>
                    <h2 class="about__subtitle">I'am Salman Shaikh</h2>
                    <p class="about__text"><p>
                        Hi,I am Salman Shaikh I have done BE in Computer Engineering,
                        After the BE I have done the Data Scientist Courses,
                        In that i have learned a lot about the data.
                    </p>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">I have works on the lots technology in my college times.I have learn
                        through that how to build the web sites and Data Analytics.
                    </p>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">HTML5</span>
                        </div>
                        <div class="skills__bar skills__html">

                        </div>
                        <div>
                            <span class="skills__percentage">95%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">CSS3</span>
                        </div>
                        <div class="skills__bar skills__css">

                        </div>
                        <div>
                            <span class="skills__percentage">85%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">JAVASCRIPT</span>
                        </div>
                        <div class="skills__bar skills__js">

                        </div>
                        <div>
                            <span class="skills__percentage">65%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">PYTHON</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">75%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">DATA ANALYTICS USING R</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">65%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">STATISTICS USING EXCEL AND TABLEAU</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">55%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">PL/SQL</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">65%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">SQL</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            
                            <span class="skills__name">MACHINE LEARNING,DEEP LEARNING AND BASE ARTIFICIAL INTELLEGENCE</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src="{% static 'image/works3.jpg' %}" alt="" class="skills__img">

                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Work</h2>

            <div class="work__container bd-grid">
                <div class="work__img">
                    <a href="{% url 'chatbot' %}"><img src="{% static 'image/chatbot2/homepage.png' %}" alt=""></a>
                </div>
                <div class="work__img">
                    <a href="{% url 'pinggame' %}"><img src="{% static 'image/pings.png' %}" alt=""></a>
                </div>
                <div class="work__img">
                    <a href="{% url 'sportcenter' %}"><img src="{% static 'image/sportcenter/home.png' %}" alt=""></a>
                </div>
                
                <div class="work__img">
                    <a href="{% url 'voting' %}"><img src="{% static 'image/voting/home.jpg' %}" alt=""></a>
                </div>
                
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                
                <form action="" method="POST" class="contact__form">
                    {% csrf_token %}
                    <input type="text"  name ="name" placeholder="Name" class="contact__input">
                    <input type="email"  name ="email" placeholder="Email" class="contact__input">
                    <textarea name="description" name ="description"  id="" cols="0" rows="10" class="contact__input"></textarea>
                    <input type="Submit"  class="contact__button button">
                </form>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Salman</p>
        <!-- i does not id of instagram and twitter so that is why i am not importing the data  -->
        <!-- <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        </div> -->
        <p>&#169; 2020 copyright all right reserved</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>