{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Post Name</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">


	<style type="text/css">
		.img-container {
			max-width: 600px;
		}

		img {
			width: 100%
		}
	</style>

</head>

<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->


		<ul id="navigation">
			<li><a href="{% url 'home' %}">Home Page</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'image/pings.png' %}">
		</div>

		<h3>PingPong Games</h3>

		<p>This was a project is GUI game I started to build in July 2020
			I used the python language to build this game.
			<br>
			Through building i have learn Turtle package
			How Gui is made and i also get the deep 
			knowledge how the Gui is <br> Build the game
			It is very Simple Games of python. 
			
		</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- Python</li>
			<li>- Turtle Package</li>
			<li>- Turtle CMD Promt uses</li>

		</ul>


		<h5>Information of PingPong:</h5>
		<p>Table tennis also known as ping-pong game</p>
	
		<p>In the table tennis team members can be Single and Doubles</p>
		<p>I made this project games from technologies python
		<p>and inbuilt Turtle package for front is display
		<p>objects in Command Prompt
		<br>
		<br>

		<h5>PingPong Source code:</h5>
		<button><a href="https://github.com/salmansss/ponggame">Source Code</a></button>
	</div>

	

</body>

</html>