
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Post Name</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		

		<ul id="navigation">
			<li><a href="{% url 'home' %}">Home Page</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'image/sportcenter/home.png' %}">
		</div>
		
		<h3>Sport Center</h3>
		<p>
		I started building this Sport Center Project in January 2017 in College Initial time with my friend
		<br>
		We build this project for Sport News the user can get news about which sport what is happening 
		and 
		<br>
		record are creating that day.

		

		</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- HTML</li>
			<li>- CSS</li>
			<li>- JAVASCRIPT</li>
			<li>- PHP</li>
			<li>- PHPMYADMIN</li>
			<li>- XAMPP SERVER</li>
			
		</ul>


		<h5>Login</h5>
		<div class="img-container">
			<img src="{% static 'image/sportcenter/login.png' %}">
		</div>

		<h6>Registeration</h5>
		<div class="img-container">
			<img src="{% static 'image/sportcenter/register.png' %}">
		</div>

		<h5>Cricket</h5>
		<div class="img-container">
			<img src="{% static 'image/sportcenter/cricket.png' %}">
		</div>

		<h5>Football</h5>
		<div class="img-container">
			<img src="{% static 'image/sportcenter/football.png' %}">
		</div>

		<h5>Hockey</h5>
		<div class="img-container">
			<img src="{% static 'image/sportcenter/hocky.png' %}">
		</div>

	</div>

</body>
</html>