
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Post Name</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		

		<ul id="navigation">
			<li><a href="{% url 'home' %}">Home Page</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'image/voting/home.jpg' %}">
		</div>
		
		<h3>ONLINE VOTING SYSTEM</h3>
		<p>
			We Started building this project in October 2014
			Online Voting is a system which is built to overcome all the hardles being faced while carrying out elections physically
			Firstly user has to register with the system to make himself eligible for online voting.
			<br>
			When user logs into the system,he will be sent secondary password on his registered mobile number which will work as authorization
			that he is the person who is trying to log in to the system.
			<br>
			Administrator account will be added by default and can perform all the admin related activities.

		</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- Java Sevlet Page</li>
			<li>- Netbean 6.5 or higher version</li>
			<li>- JDK 1.6.0_04 or above</li>
			<li>- Apacha Tomcat</li>
			<li>- Microsoft Sql Server 2005</li>
			
		</ul>


		<h5>Election</h5>
		<div class="img-container">
			<img src="{% static 'image/voting/election.jpg' %}">
		</div>

		<h6>Election-Detail</h5>
		<div class="img-container">
			<img src="{% static 'image/voting/electiondetail.jpg' %}">
		</div>

		

	</div>

</body>
</html>